*{
    font-size: 24px;
    letter-spacing: -0.75px;
}

body {
    background: #c7b39b url(https://images2.alphacoders.com/941/941898.jpg) no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.window-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #1621c9;
    padding: 0.25rem;
    font-weight: bold;
    text-align: top;
}

.window-name img{
    height: 21px;
    width: 21px;
}

.window{
    border: #1621c9 2px solid;
    border-radius: 5px;
    background-color: rgb(227, 226, 221);
    position: relative;
    min-width: 500px;
}

.window-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.25rem;
}
.window-content button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem auto;
    padding: 0rem 1rem;
    display: block;

    border-radius: 5px;
    border: #1621c9 2px solid;
}

.window-content input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.25rem;
    width: 200px;
}

.upright-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 3px;
    right: 8px;

    border-radius: 5px;
}

.window-content button:hover{border: rgb(245, 192, 90) 2px solid;}