*{
    font-size: 24px;
    letter-spacing: -0.75px;
}

/* .messages{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0; 
    left: 10px; 
    background: rgb(243,243,210); 
    border: solid #000000 2px;
    z-index: 9999;
    padding: 0.5rem;
} */
#speech-bubble {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem;
    border: solid #000000 2px;
	position: absolute;
    top: 600px; 
    left: 150px;
	background: #f3f3d2;
	border-radius: .4em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-bottom-color: #f3f3d2;
	border-top: 0;
	border-left: 0;
	margin-left: -19px;
	margin-top: -38px;
}
a, a:visited, a:hover, a:active {color: red; text-decoration: none;}

body {
    background: #c7b39b url('/static/media/background.jpg') no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.window-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #1621c9;
    padding: 0.25rem;
    font-weight: bold;
    text-align: top;
}

.window-name img{
    height: 21px;
    width: 21px;
}

.window{
    border: #1621c9 2px solid;
    border-radius: 5px;
    background-color: rgb(227, 226, 221);
    position: relative;
    min-width: 500px;
}

.window-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.25rem;
}
.window-content button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem auto;
    padding: 0rem 1rem;
    display: block;

    border-radius: 5px;
    border: #1621c9 2px solid;
}

.window-content input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.25rem;
    width: 200px;
}

.upright-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 3px;
    right: 8px;

    border-radius: 5px;
}

.window-content button:hover{border: rgb(245, 192, 90) 2px solid;}