<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="messages-area">
        {% csrf_token %}
        {% for msg in msgs %}
        <div class="chatmessage">
            {{msg.user}}: {{msg.message_words}}
        </div>
        {% endfor %}
    </div>
    <div class="chats">
        
    </div>
    <div class="writing-field">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form }}
            <button type="submit" name="reg">Отправить</button>
        </form>
    </div>
    <div class="stickers">
        <p>Zdesj poka nichego net</p>
    </div>
</body>
</html>