<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="messages-area">
        <p>tut buduj pojavliatsa chat-soobschenija</p>
    </div>
    <div class="chats">
        <p>Zdesj poka nichego net</p>
    </div>
    <div class="writing-field">
        <p>Sozdaj tut formu, skotobazina ty takaja!!!</p>
    </div>
    <div class="stickers">
        <p>Zdesj poka nichego net</p>
    </div>
</body>
</html>