{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЕССЕНДЖЕР ГЕОРГИЙ</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/commands.js' %}" defer></script>
    <link rel="icon" type="image/png" href="{% static 'media/icon.png' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages" id="messages" style="list-style-type: none;">
        {% for message in messages %}
            <li class="{{ message.tags }}" id="speech-bubble">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> Редактируй свой профиль!</div>
        <input type="button" onclick="location.href='/wsschat/1';" value="Выйти" class="upright-button" />
        <!-- #Pomeniatj idshnik pri zapuske v obraschenije <-VAZHNO SHO KAPEC -->
        <div class="window-content">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        <!-- Просто не выводим {{ field.errors }} -->
                    </div>
                {% endfor %}
                <button type="submit" name="save">Сохранить!</button>
            </form>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="log_out">Выйти из профиля</button>
            </form>
            <button type="submit" class="delete-user" value="{{ current_chat.id }}">Удалить пользователя!</button>
        </div>
    </div>
</body>
</html>