{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="regbox">
        <div class="appname">Мессенджер Георгий</div>
        <div class="label">Никнейм</div>
        <input type="email" id="name">
        <div class="label">Пароль</div>
        <input type="password" id="password">
        <button type="submit" class="regbutton">Зарегестрироваться</button>
        <button type="submit" class="logbutton">Войти</button>
    </div>
</body>
</html>