{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЕССЕНДЖЕР ГЕОРГИЙ</title>
    <link rel="stylesheet" href="{% static 'css/stylescss' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages" id="messages" style="position: absolute; top: 0; left: 0; background: red; color: white; z-index: 9999;">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> Зарегистрируйся!</div>
        <input type="button" onclick="location.href='/log';" value="Вход" class="upright-button" />
        <div class="window-content">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form }}
                <button type="submit" name="reg">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>
<script>
function hideDiv() {
  var divElement = document.getElementById("messages");
  if (divElement) {
    divElement.style.display = "none";
  }
}

// Call the hideDiv function after a 5-second delay
setTimeout(hideDiv, 3000);
</script>
</html>