<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>МЕССЕНДЖЕР ГЕОРГИЙ</title>
    <link rel="stylesheet" href="{% static 'css/wsschat.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.5.0/lz-string.min.js"></script>
    <script src="{% static 'js/wsschat.js' %}" defer></script>
</head>
<body>
    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> {{ current_chat.name }} (Участники: {{ members_count }})</div>
        <!-- <input type="button" onclick="location.href='/wsschat/2';" value="Выйти" class="upright-button" /> -->
        <div class="window-content" id="chat-name">
            <div class="edit-chats">
                Описание: {{current_chat.description}}<br>
                <a href="{% url 'newchat' %}">Создать новый чат</a>
                {% if current_user.id == current_chat.chat_creator.id %}
                <a href="{% url 'editchat' current_chat.id %}">Редактировать чат</a>
                {% endif %}
            </div>
            <div class="members">
                Участники:<br>
                {% for member in members %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="member" value="{{ member.id }}">{{member.username}}</button>
                </form>
                {% endfor %}  
            </div>
            {% if current_chat.chat_type.name != "ЛС" %}
            <div class="non-members">
                Добавить:<br>
                {% for non_member in non_members %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="non_member" value="{{ non_member.id }}">{{non_member.username}}</button>
                </form>
                {% endfor %} 
            </div>
            {% endif %}
        </div>
    </div>

    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> Сообщения</div>  
        <div class="window-content" id="messages-area">
            
        </div>
        {% if current_chat.chat_type.name != "Канал" or current_user.id == current_chat.chat_creator.id %}
        <div id="message-enter">
            <input id="chat-message-input" type="text" size="100">
            <input type="file" id="chat-file-input" name="filename">
            <button id="chat-message-submit" type="button">Отправить</button>
        </div>
        {% endif %}
    </div>
    
    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> Твои чаты</div> 
        <div class="window-content" id="my-chats">
            {% for my_chat in my_chats %}
            <div class="chat-message">
                <a href="{% url 'wsschat' my_chat.id %}">{{my_chat.name}}</a> 
                <!-- {{my_chat.chat_type.name}}  -->
            </div>
            {% endfor %} 
        </div>  
        </div>
    </div>

    <div class="window">
        <div class="window-name"><img src="https://i.imgur.com/WLQXHbd.png"> Профиль</div> 
        <div class="window-content" id="profile-info">
            {{ current_user.username }}</br>
            {{ current_user.description }}</br>
            <a href="{% url 'edituser' current_user.id %}">Редактировать профиль</a>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ current_user.username|json_script:"itsname" }}
    {{ current_user.id|json_script:"itsid" }}
</body>
</html>