<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
     <div class="stickers">
        <p>Tebia zovut vot tak -> {{ itsname }}</p>
    </div>
    <div class="messages-area">  
        <!-- tut soobschenija -->
        {% for msg in msgs %}
        <div class="chat-message">
            {{msg.user}}: {{msg.message_words}}
        </div>
        {% endfor %}  
    </div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <div>
        <a href="{% url 'newchat' %}">Создать новый чат</a>
    </div>   
    {{ room_name|json_script:"room-name" }}
    {{ itsname|json_script:"itsname" }}
    <div class="chats">
        <p>Zdesj poka nichego net</p>
    </div>
    <div class="stickers">
        <p>Zdesj poka nichego net</p>
    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('itsname').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const newDiv = document.createElement('div');

            // 2. Customize the div (optional)
            newDiv.className = 'chat-message';
            newDiv.textContent = data.username+": "+data.message; // Add text content

            // 3. Append the new div to the body
            document.body.querySelector('.messages-area').appendChild(newDiv);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>