<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
     <div class="upname">
        <p>Название чата/канала -> {{ current_chat.name }}, {{ members_count }} участников</p>
     </div>
    {% if current_user.id == current_chat.chat_creator.id %}
    <div>
        <a href="{% url 'newchat' %}">Создать новый чат</a>
        <a href="{% url 'editchat' current_chat.id %}">Редактировать чат</a>
    </div>
    {% endif %}
    <div class="messages-area">  
        <!-- tut soobschenija -->
        {% for msg in msgs %}
        <div class="chat-message">
            {{msg.user}}: {{msg.message_words}}
        </div>
        {% endfor %}  
    </div>
    {% if current_chat.chat_type.name != "Канал" or current_user.id == current_chat.chat_creator.id %}
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    {% endif %}
    {{ room_name|json_script:"room-name" }}
    {{ current_user.username|json_script:"itsname" }}
    <div class="chats">
        <div class="messages-area">  
        <!-- tut soobschenija -->
        {% for my_chat in my_chats %}
        <div class="chat-message">
            <a href="{% url 'wsschat' my_chat.id %}">- {{my_chat.chat_type.name}} {{my_chat.name}} ({{my_chat.description}})</a>
        </div>
        {% endfor %}  
        </div>
    </div>
    <div class="non-members-area">
        <p>Добавить пользователя в чат</p>
        {% for non_member in non_members %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="non_member" value="{{ non_member.id }}">!!!Пользователь {{non_member.username}}</button>
        </form>
        {% endfor %}  
    </div>
    <div class="profile-info">
        <p>Информация о профиле</p>
        <p>Твоё имя -> {{ current_user.username }}</p>
        <p>Твоё описание -> {{ current_user.description }}</p>
        <a href="{% url 'edituser' current_user.id %}">Редактировать профиль</a>
    </div>
    <style>
        a, a:visited, a:hover, a:active {color: black; text-decoration: none;}
    </style>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('itsname').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const newDiv = document.createElement('div');

            // 2. Customize the div (optional)
            newDiv.className = 'chat-message';
            newDiv.textContent = data.username+": "+data.message; // Add text content

            // 3. Append the new div to the body
            document.body.querySelector('.messages-area').appendChild(newDiv);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message!=""){
                chatSocket.send(JSON.stringify({
                'message': message,
                'username': user
                }));
                messageInputDom.value = '';
            }
        };
    </script>
</body>
</html>